.buscaCampeones {
    position: absolute;
    top: 20%;
    left: 51%;
    height: 70px;
    width: 1000px;
    transform: translate(-50%, 0%);

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;		
}

.buscaCampeones input[type="text"] {
    box-sizing: content-box;
    height: 50px;
    width: 220px;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    font-size: 20px;
}


.buscaGuia {
    position: absolute;
    top: 20%;
    left: 43%;
    height: 70px;
    width: 1000px;
    transform: translate(-50%, 0%);

    display:grid;
    grid-template-columns: 1fr 2fr 1fr;		
}

.buscaGuia input[type="text"] {
    box-sizing: content-box;
    height: 50px;
    width: 220px;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    font-size: 20px;
}




.buscaPosicion {
    position: relative;
    left: 10px;
    height: 50px;
    width: 250px;
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;	
}

.buscaPosicion button{
    width: 70px; 
	height: 70px; 

	background-color: #000033;
    transition: border-color 0.2s ease-out;
}

.buscaPosicion button:hover{
    border: 5px solid #ffff00;
}

.bordeAmarillo {
    border: 5px solid #ffff00;
}

.buscaPosicion button img { 
	width: 50px; 
	height: 50px; 
    background-color: #000033;
}

.buscaEtiquetas {
    position: relative;
    left: 10px;
    height: 50px;
    width: 300px;
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1;	
}

.buscaEtiquetas button{
    width: 125px; 
	height: 70px; 

    font-size: 20px;
    color:white;
	background-color: #000033;
    transition: border-color 0.2s ease-out;
}

.buscaEtiquetas button:hover{
    border: 5px solid #ffff00;
}

.ordenGuia {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 70px;
    width: 80%;
    transform: translate(-50%, 0%);

	background-color: #0a0a26;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    grid-gap: 2px;

    justify-content: center;
    align-items: center;
}

.ordenGuia h1 {
    font-size: 20px;
    color:white;
    text-align: center;
}

.ordenGuia button {
    width: 170px; 
	height: 70px; 
    

    font-size: 20px;
    color:white;
	background-color: #000033;
    transition: border-color 0.2s ease-out;
}

.ordenGuia button:hover{
    border: 5px solid #ffff00;
}