
.campeonGrid {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%, 0%);

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    
    margin-bottom: 200px;
}

.campeon {
    position:relative;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 230px;
    background-color: #000033;
    border-radius: 10px;
    border: 3px solid transparent;
    
    transition-duration: 250ms;	
}
.campeon:hover {
    transform: scale(1.1);
    border-color: yellow;
}


.campeonPosiciones {
    position: absolute;
    top: 10px;
    left: 172px;
    width: 40px;
    height: 200px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    
}
.campeonPosiciones img {
    position: relative;
    width: 91%;
    height: 91%; 
}


.campeonImagen {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 120px;
    height: 120px;
    
}
.campeonImagen img {
    width: 91%;
    height: 91%; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 5px solid yellow; 
}

.campeonTexto {
    position: relative;
    top: 160px;
    text-align: center;
    font-family: "Monaco", "Times New Roman", serif;
    font-size: 25px;;
    color: yellow;
}

