.fondoGuia {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 100%;
}

/* header guia BEGIN*/

.headerGuia {
    position: relative;
    height: 300px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #0b043b;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.headerGuia img {
    position: relative;
    height: 290px;
    width: 290px;
}

.headerGuia h1 {
    position: relative;
	
    font-size: 35px;
    color:white;
}

.informacionGuia {
    position: relative;
    top: 10%;
    left: 10%;
    display:grid;
    grid-template-rows: 1fr 1fr;

}

.tituloGuia {
    position: relative;
    width: 250px;

    display:grid;
    grid-template-rows: 1fr 1fr;

}

.tituloGuia p {
    position: relative;
    top: -20px;

    font-size: 20px;
    color:white;
}

.puntuacionGuia {
    position: relative;
    top: -35px; 
    width: 250px;
    
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.likebutton {
    box-sizing: content-box;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;
}

.likebutton.clicked { 
    background-color: yellow; 
    animation: shake 0.5s ease; 
}

.likebutton img {
    height: 30px;
    width: 30px;
}
  



.dislikebutton {
    box-sizing: content-box;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;
}

.dislikebutton img {
    height: 30px;
    width: 30px;
}

.dislikebutton.clicked { 
    background-color: red; 
    animation: shake 0.5s ease; 
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
 

/* header guia END*/


.guia {
    position: relative;
    height: 1000px;
    width: 100%;
    
    background-color: #0b043b;
    border: 10px solid rgb(0, 0, 0);
}

.guia h1 {
    position: relative;
	
    font-size: 35px;
    color:white;
}

.guiaContent {
    position: relative;
    top : 5%;
    left: 5%;
    width: 80%;

}

.guiaHechizos {
    position: relative;

    display : grid;
    grid-template-columns: repeat(6, 1fr);
    
}

.guiaHechizo {
    position: relative;
    
    display : grid;
    grid-template-rows: 1fr 1fr;
}

.guiaHechizo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    height: 100px;
    width: 100px;
}

.guiaHechizo h2 {
    position: relative;
	
    font-size: 20px;
    text-align: center;
    color:white;
}


.guiaItems {
    position: relative;

    display : grid;
    grid-template-columns: repeat(6, 1fr);
    
}

.guiaItem {
    position: relative;
    
    display : grid;
    grid-template-rows: 1fr 1fr;
}

.guiaItem img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    height: 100px;
    width: 100px;
}

.guiaItem h2 {
    position: relative;
	
    font-size: 20px;
    text-align: center;
    color:white;
}

/*  COMENTARIOS  */
.guiaComentar {
    box-sizing: content-box;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer; 

}

.guiaComentar img {
    height: 30px;
    width: 30px;
}



.md {
    position: relative;

   
}

.md2 {
    position: relative;

   
}



