.guia {
    width: 80%; /* Set the width to 80% of the screen width */
    margin: 0 auto; /* Center the div horizontally */
    background-color: #f0f0f0; /* Background color for visibility */
    /*padding: 20px;*/ /* Optional: Add padding for spacing */
}