a {
    text-decoration: none;
}
.headerContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100px;
    background-color: #001F33;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 4;
}


.ggHead {
    position: relative;
    top: 10px;
    left: 20px;
    text-align: left;
    font-family: "CopperPlate", Fantasy;
    font-size: 60px;
    color: #FFD700;
    text-shadow: 2px 2px 6px rgb(0 0 0 / 18%), 0 0 30px rgb(177 158 49 / 0%); 
    transition: color 0.3s;
    background-image: linear-gradient(to right, rgb(255 228 79), rgb(255 255 255 / 40%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ggHead:hover {
    color: #DAA520; /* Cambio de color al pasar el ratÃ³n */
    text-shadow: 2px 2px 4px rgb(0 0 0 / 11%), 0 0 20px rgb(255 215 0 / 47%);
}

.searchContainer {
    position: relative;
    top: 20px;
    height: 75px;
    width: 650px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    z-index: 5;			
}

input[type="text"] {
    height: 40px;
    width: 550px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    font-size: 20px;
}

.botonBusqueda {
    position: relative;
    top: 6px;
    left: -70px;
    width: 50px; 
    height: 50px;
}

.botones {
    position: absolute;
    top: 10px;
    left: 90%;
    height: 50px;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ajustesContainer {
    position: relative;
    top: 6px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;

}

.ajustesContainer {
    position: relative;
    top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;

}
.ajustesContainer:hover {
    background-color: black;
}

.ajustes {
    position: relative;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    
    
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic-00.iconduck.com%2Fassets.00%2Fsettings-icon-1964x2048-8nigtrtt.png&f=1&nofb=1&ipt=af73964aa58dc5b801a0121c3d6adbd756339c37e99fde636b2c063a0f5a0313&ipo=images");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.login {
    position: relative;
    height: 50px;
    width: 100px;
    top: 14px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
}

.login:hover {
    background-color: #0056b3;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

/* Estilos para las guías */
.guia {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.guia h2 {
    margin-top: 0;
}

.guia p {
    margin-top: 5px;
    color: #666666;
}

