.fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;

}
.fondoImagen {
    width: 100%;
    height: 100%;
    filter: contrast(100%);
    opacity: 0.5;
    z-index: -1;
}

.barra {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 110px;
    background-color: #001a2b;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    z-index: 5;	
    
    overflow: hidden; 
    transition-duration: 250ms;	
    transition-property: width;
}

.barra:hover {
    width: 330px; 
}
.ggHead {
    position: relative;
    top: 10px;
    left: 20px;
    text-align: left;
    font-family: "CopperPlate", Fantasy;
    font-size: 60px;
    color: #FFD700;
    text-shadow: 2px 2px 6px rgb(0 0 0 / 18%), 0 0 30px rgb(177 158 49 / 0%); 
    transition: color 0.3s;
    background-image: linear-gradient(to right, rgb(255 228 79), rgb(255 255 255 / 40%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ggHead:hover {
    color: #DAA520; /* Cambio de color al pasar el ratÃ³n */
    text-shadow: 2px 2px 4px rgb(0 0 0 / 11%), 0 0 20px rgb(255 215 0 / 47%);
}
.linkPagina {
    position: relative;
    top: 10px;
    left: 20px;
    height: 50px;
    width: 270px;
    padding: 10px;
    display: grid;
    grid-gap: 30px;
    border-radius: 15px;
    grid-template-columns: 1fr 5fr;
    transition-property: background;
}

.linkPagina:hover {
    background: #00001a;
}

.nombrePaginas {
    font-family: "CopperPlate", Fantasy;
    font-size: 30px; 
    color: #cccccc;
}

.centroContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 700px;
    display: grid;
    grid-template-rows: 3fr 5fr;
    grid-gap: 2px;
    z-index: 5;			
}
.ggLogo {
    text-align: left;
    font-family: "CopperPlate", Fantasy;
    font-size: 60px;
    color: #ffd702;
    text-shadow: 2px 2px 6px rgb(255 239 26 / 30%), 0 0 30px rgb(177 158 49 / 0%);
    transition: color 0.3s;
    background-image: linear-gradient(to right, rgb(255 223 44), rgb(255 255 255 / 40%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchContainer {
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    height: 70px;
    width: 650px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 2px;
    z-index: 5;			
}
input[type="text"] {
    height: 60px;
    width: 550px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    font-size: 20px;
}

.botonBusqueda {
    position: relative;
    top: 15px;
    left: -70px;
    width: 50px; 
    height: 50px;
}

.botones {
    position: absolute;
    top: 10px;
    left: 90%;
    height: 50px;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ajustesContainer {
    position: relative;
    top: 6px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;

}
.ajustesContainer:hover {
    background-color: black;
}

.ajustes {
    position: relative;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    
    
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic-00.iconduck.com%2Fassets.00%2Fsettings-icon-1964x2048-8nigtrtt.png&f=1&nofb=1&ipt=af73964aa58dc5b801a0121c3d6adbd756339c37e99fde636b2c063a0f5a0313&ipo=images");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.login {
    height: 50px;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
}

.login:hover {
    background-color: #0056b3;
}
