.contenido {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 140%;
    width: 750px;

    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: -1;
}

.nuevoCampo {
    position: relative;
    height: 160px;

    display:grid;
    grid-template-rows: 1fr 1fr ;
    z-index: -1;
    
}

/* CAMPEONES */
.nuevoCampoCampeon {
    height: 700px;

    display:grid;
    grid-template-rows: 1fr 2fr 1fr 4fr;
    z-index: -1;
    
}

.nuevoCampeonSeleccionado {
    width: 150px;
    height: 150px;

    border: 5px solid #000033;
    border-radius: 10px;
}

.nuevoCampeonSeleccionado h1 {
    position: relative;
    top: 8%;
    text-align: center;
    font-family: "Monaco", "Times New Roman", serif;
    font-size: 100px;
    color: #000033;
}


.nuevoCampeonSeleccionado h2 {
    position: relative;
    top: -175px;
    font-family: "Monaco", "Times New Roman", serif;
    font-size: 75px;
    color: #ffff00;
}

.nuevoCampeonSeleccionado img {
    width: 100%;
    height: 100%;
}

.bordeAmarilloRedondo {
    border: 5px solid #ffff00;
    border-radius: 10px;
}

.nuevoCampeonBuscar {
    height: 60px;
    width: 100%;

    z-index: -1;
}

.nuevoCampeonGrid {
    position: relative;
    height: 300px;
    width: 750px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.nuevoCampeonGrid img {
    position:relative;
    width: 102%;
    height: 102%; 

    border: 7px solid transparent;
    transition: transform 0.5s ease;
}

.nuevoCampeonGrid img:hover {
    border: 7px solid #ffff00;
}

/* CAMPEONES */

/* HECHIZOS */

.nuevoCampoHechizos {
    height: 370px;

    display:grid;
    grid-template-rows: 1fr 4fr;
    z-index: -1;
    
}

.nuevoHechizoGrid {
    position: relative;
    width: 500px;
    height: 300px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.nuevoHechizoGrid img {
    height: 90%;
    width: 90%;

    border: 5px solid #000033;
    border-radius: 50%;
}

.nuevoHechizoGrid img:hover {
    border: 5px solid #ffff00;
}

.bordeAmarilloCircular {
    border: 5px solid #ffff00 !important;
    opacity: 0.7;
}

/* HECHIZOS */

/* ITEMS */

.nuevoCampoItems {
    height: 1000px;

    display:grid;
    grid-template-rows: 1fr 3fr 6fr;
    z-index: -1;

    margin-bottom: 200px;
}

.nuevoItemsSeleccionados {
    height: 200px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-y: auto;
    z-index: -1;

}

.nuevoItemInterrogante {
    width: 150px;
    height: 170px;

    border: 5px solid #000033;
    border-radius: 10px;
}

.nuevoItemInterrogante h1 {
    position: relative;
    top: 7%;
    text-align: center;
    font-family: "Monaco", "Times New Roman", serif;
    font-size: 120px;
    color: #000033;
}


.nuevoItemsShop {
    height: 700px;

    display:grid;
    grid-template-rows: 1fr 6fr;
    z-index: -1;    
}

.nuevoItemsShop input[type="text"] {
    height: 100px;
    width: 100%;
    box-sizing: content-box;
    padding: 0px;
    border-radius: 0px;
    border: 0px solid #ccc;

    background-color: #000033;
    
    margin-right: 0px;
    font-size: 20px;
    color: white;
    z-index: -5;

    text-indent: 50px;
}

.nuevoItemsBlock {
    height: 600px;

    display:grid;
    grid-template-columns: 1fr 6.5fr;
    z-index: -1;    
}

.nuevoItemsClass {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: -1;
}

.nuevoItemsClass button {
    width: 100px; 
	height: 100px; 

	background-color: #000033;
    transition: border-color 0.2s ease-out;
}

.nuevoItemsClass button:hover{
    border: 5px solid #ffff00;
}

.nuevoItemsClass button img { 
	width: 70px; 
	height: 70px; 
    background-color: #000033;
}

.nuevoItemsList {
    height: 600px;
    width: 1000px;
    background-color: #000033;
    border: 4px solid rgb(47, 44, 44);
    overflow-y: auto;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: -1;
}

.nuevoItem {
    position:relative;
    top: 5%;
    left: 5%;
    height: 170px;
    width: 150px;
    border-radius: 10px;
    
    transition-duration: 250ms;

    display:grid;
    grid-template-rows: 4fr 1fr;
}

.nuevoItem:hover{
    transform: scale(1.1);
    border: 3px solid #ffff00 !important;
}

.nuevoItem img{
    position: relative;
    top: 20px;
    left: 21px;
    height: 100px;
    width: 100px;


    border-radius: 10px;
    border: 3px solid black;

    transition: 0.3s ease;
}


.nuevoItem h1 {
    height: 90%;
    width: 90%;

    text-align: center;
    font-family: "Monaco", "Times New Roman", serif;
    font-size: 15px;
    color: yellow;
}

/* ITEMS */

.botonNuevaGuia button{
    width: 100px; 
	height: 100px; 

	background-color: #000033;
    transition: border-color 0.2s ease-out;
}

/* Boton crear */

.enviarNuevaGuia {
    text-align: center;
}

#Crear {
    background-color: #421d78;
    border: none;
    color: white;
    padding: 10px 400px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -30px 2px 30px;
    cursor: pointer;
    border-radius: 5px;
}

#Crear:hover {
    background-color: #3e1768;
}

#Crear:active {
    background-color: #3e1768;
}