<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/campeones.css">
    <title>Sample HTML Document</title>
</head>
<body>
    <main>
		<!-- HEADER -->
		<div class="headerContainer">
			<a href="/">
				<div class="ggHead">GG</div>
			</a>
			<div class="searchContainer">
				<input type="text" placeholder="Search Player or a Champion">
				<div class="botonBusqueda">
					<a href="https://example.com">
						<img width="50px" height="50px" src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/09_search-1024.png">
					</a>
				</div>
			</div>
			<div class="botones">
				<a href="https://example.com">
					<div class = "ajustesContainer">
						<div class="ajustes"></div>
					</div>
				</a>
				<a href="https://example.com">
					<button class="login">Log In</button>
				</a>
			</div>
		</div>
		<!-- HEADER -->
		
		<!-- CAMPEONES -->
        <div class="campeonGrid"></div>
		<script src="campeones.js"></script>
		<!-- CAMPEONES -->
    </main>
</body>
</html>
