<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/campeones.css}">
    <title>Champions</title>
</head>
<body>
    <main>
		<!-- HEADER -->
		<div th:insert="./fragments/header"></div>
		<!-- HEADER -->

		<!-- SIDEBAR -->
		<div th:insert="./fragments/sidebar"></div>
		<!-- SIDEBAR -->
		
		<!-- CAMPEONES -->
        <div class="campeonGrid"></div>
		<script src="campeones.js"></script>
		<!-- CAMPEONES -->
    </main>
</body>
</html>
