<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/guides.css}">
    <title>Guías</title>
</head>
<body>
    <div class="headerContainer">
        <a href="/">
            <div class="ggHead">GG</div>
        </a>
        <div class="searchContainer">
            <input type="text" placeholder="Search Player or a Champion">
            <div class="botonBusqueda">
                <a href="https://example.com">
                    <img width="50px" height="50px" src="img/img_general/lupa_icon.webp">
                </a>
            </div>
        </div>
        <div class="botones">
            <a href="/ajustes">
                <div class = "ajustesContainer">
                    <div class="ajustes"></div>
                </div>
            </a>
            <a href="https://example.com">
                <button class="login">Log In</button>
            </a>
        </div>
    </div>
    <header>
        <h1>Guías</h1>
    </header>
    <main>
		<a href="https://example.com">
			<div class="guia">
				<h1>9.8</h1>
				<img width="150px" height="150px" src="https://cdn.mobalytics.gg/assets/lol/images/dd/champions/icons/aatrox.png?V3">
				<h1>Guia suspicaz [13.5]</h1>
				<p>Escrita por David Starry 13/02</p>
			</div>
		</a>
		<a href="https://example.com">
			<div class="guia">
			</div>
		</a>
		<a href="https://example.com">
			<div class="guia">
			</div>
		</a>
    </main>
</body>
</html>
