<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/items.css}">
    <title>Items</title>
</head>
<body>
    <main>
		<!-- HEADER -->
		<div th:insert="./fragments/header"></div>
		<!-- HEADER -->

		<!-- SIDEBAR -->
		<div th:insert="./fragments/sidebar"></div>
		<!-- SIDEBAR -->
		
		<!-- ITEMS -->
        <div class="itemGrid"></div>
		<script src="items.js"></script>
		<!-- ITEMS -->
    </main>
</body>
</html>
