<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>GG: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>
            <h1>Lista de guias</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                </tr>
                <tr th:each="guia : ${guideList}">
                    <td th:text="${guia.id}"></td>
                    <td th:text="${guia.titulo}"></td>
                    <td th:text="${guia.autor.username}"></td>
                    <td>
                        <a th:href="@{/admin/{id}/eliminarGuia(id=${guia.id})}" onclick="return confirm('¿Estás seguro de eliminar este guia?')">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>

        <script type="text/javascript" src="js/iw.js"></script>
		<script type="text/javascript" src="js/stomp.js"></script>
        <script>

        </script> 
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>

