<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <th:block th:replace="fragments/head :: header" />
    <title>GG: login</title>
</head>
<body>
    <div class="container">
        <fieldset>
            <form class="form-signin" method="post" th:action="@{/login}">
                <legend>Usuario y contraseña</legend>
                <div>
                    <label for="nombreUsuario">Nombre de usuario:</label>
                    <input id="nombreUsuario" type="text" name="nombreUsuario" placeholder="Nombre de usuario" required="required" />
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password" placeholder="Contraseña" required="required" />
                </div>
                <div>
                    <button type="submit" name="login">Entrar</button>
                    <a href="" class="registrarse">Registrarse</a>
                </div>
            </form>
        </fieldset>
    </div>
</body>
</html>
