<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/matchHistory.css}">
    <title>PerfilJugador</title>
</head>
<body>
	<!-- HEADER -->
	<div th:insert="./fragments/header"></div>
	<!-- HEADER -->

	<!-- SIDEBAR -->
	<div th:insert="./fragments/sidebar"></div>
	<!-- SIDEBAR -->

	<div class = "perfil"></div>

	<div class="partidas">
		<div class = "botonMasPartidas"></div>
	</div>

	<script type="text/javascript" src="js/iw.js"></script>
	<script type="text/javascript" src="js/stomp.js"></script>
	<script>
		// La llave solo funciona por 24 horas y debe ser copiada y pegada de nuevo 
		// a menos que le pida a riot una permanente (es de desarrollo exclusivamente)
		apiKey = "RGAPI-e9293211-a561-4045-bc24-aaec93312fa2";

		const queryParams = new URLSearchParams(window.location.search);

		var masPartidas = document.querySelector(".botonMasPartidas");


		// FASE 1: PEDIR USUARIO ( 1 peticion )
		var puuid;
		function jugador(json) {
			console.log("jugador");
			console.log(json);

			puuid = json.puuid;

			const perfilDiv = document.querySelector('.perfil');

			var img = document.createElement('img');
			img.src = "https://static.bigbrain.gg/assets/lol/riot_static/14.6.1/img/profileicon/" + json.profileIconId + ".png";
		
			var h1 = document.createElement('h1');
			h1.textContent = json.name;

			var h2 = document.createElement('h2');
			h2.textContent = json.summonerLevel;

			perfilDiv.appendChild(img);
			perfilDiv.appendChild(h1);
			perfilDiv.appendChild(h2);

			fetchHistorial();

		}
		function fetchJugador() {
			go('https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/' + queryParams.get('jugador') + '?api_key=' + apiKey , 'GET')
				.then(json => jugador(json))
				.catch(e => console.log("ERR", e));		
		}
		fetchJugador();

		// FASE 2: PEDIR ID DE PARTIDAS RECIENTES ( 1 peticion )

		async function historial(json) {
			console.log("Historial");
			console.log(json);

			for (var i = 0; i < 10; i++) {
				console.log("partida " + i);
				await fetchPartida(json[i]);
			}

			start += 10;
		}

		var start = 0;
		
		function fetchHistorial() {
			go('https://europe.api.riotgames.com/lol/match/v5/matches/by-puuid/' + puuid + '/ids?start=' + start + '&count=10&api_key=' + apiKey , 'GET')
				.then(json => historial(json))
				.catch(e => console.log("ERR", e));	
		}	
		
		// FASE 3: ITERAR LAS PARTIDAS ( 1 peticion por partida )

		let hechizosMap = new Map([
			[1, 'cleanse'],
			[3, 'exhaust'],
			[4, 'flash'],
			[6, 'ghost'],
			[7, 'heal'],
			[11, 'smite'],
			[12, 'teleport'],
			[13, 'clarity'],
			[14, 'ignite'],
			[21, 'Barrier'],
			[32, 'snowball']	
		]);

		function partida(json) {
			console.log(json);

			// INFORMACIÓN IMPORTANTE
			var jugador; // Que jugador es?

			for (var i = 0; i < 10; i++) {
				if  (json.info.participants[i].puuid == puuid) jugador = i;
			}


			const partidasDiv = document.querySelector('.partidas');

			var partidaDiv = document.createElement('div');
			partidaDiv.classList.add('partida');
			if (json.info.participants[jugador].win) {
				partidaDiv.setAttribute("style", "background-color: #000033cc;");
			}
			else {
				partidaDiv.setAttribute("style", "background-color: #330000cc;");
			}
			

			// RESUMEN

			var resumenPartidaDiv = document.createElement('div');
			resumenPartidaDiv.classList.add('resumenPartida');



			var tipoPartida = document.createElement('h1');
			tipoPartida.textContent = json.info.gameMode;

			var duracionPartida = document.createElement('h1');
			duracionPartida.textContent = Math.floor(json.info.gameDuration / 60) + ':';

			if (json.info.gameDuration % 60 < 10) {
				duracionPartida.textContent += '0';
			}

			duracionPartida.textContent += json.info.gameDuration % 60;

			var espacioPartida = document.createElement('h1');
						
			var resultadoPartida = document.createElement('h2');
			if (json.info.participants[jugador].win) {
				resultadoPartida.textContent = "VICTORIA";
				resultadoPartida.setAttribute("style", "color: blue;");
			}
			else {
				resultadoPartida.textContent = "DERROTA";
				resultadoPartida.setAttribute("style", "color: red;");
			}

			resumenPartidaDiv.appendChild(tipoPartida);
			resumenPartidaDiv.appendChild(duracionPartida);
			resumenPartidaDiv.appendChild(espacioPartida);
			resumenPartidaDiv.appendChild(resultadoPartida);



			partidaDiv.appendChild(resumenPartidaDiv);

			// /RESUMEN


			// CAMPEON	
			
			var campeonDiv = document.createElement('div');
			campeonDiv.classList.add('campeon');


			var campeonImg = document.createElement('img');
			campeonImg.src = "/img/campeones/" + json.info.participants[jugador].championName.toLowerCase() + ".png";

			campeonDiv.appendChild(campeonImg);

			// HECHIZOS

			var hechizosDiv = document.createElement('div');
			hechizosDiv.classList.add('hechizosInvocador');

			var hechizoImg1 = document.createElement('img');
			hechizoImg1.src = "/img/hechizos/" + hechizosMap.get(json.info.participants[jugador].summoner1Id) + ".png";

			var hechizoImg2 = document.createElement('img');
			hechizoImg2.src = "/img/hechizos/" + hechizosMap.get(json.info.participants[jugador].summoner2Id) + ".png";

			hechizosDiv.appendChild(hechizoImg1);
			hechizosDiv.appendChild(hechizoImg2);

			campeonDiv.appendChild(hechizosDiv);

			// /HECHIZOS

			partidaDiv.appendChild(campeonDiv);

			// /CAMPEON

			// KDA

			var kdaDiv = document.createElement('div');
			kdaDiv.classList.add('kda');

			var kdaText = document.createElement('h1');
			let killsSpan = document.createElement('span');
			killsSpan.textContent = json.info.participants[jugador].kills;
			killsSpan.style.color = 'white'; 

			let deathsSpan = document.createElement('span');
			deathsSpan.textContent =  json.info.participants[jugador].deaths;
			deathsSpan.style.color = 'red'; 

			let assistsSpan = document.createElement('span');
			assistsSpan.textContent = json.info.participants[jugador].assists;
			assistsSpan.style.color = 'white';

			let separatorSpan = document.createElement('span');
			separatorSpan.textContent = ' / ';
			separatorSpan.setAttribute("style", "color: 'white';");
			separatorSpan.style.opacity = '0.7'; 
			separatorSpan.style.fontSize = '25px'; 

			kdaText.appendChild(killsSpan);
			kdaText.appendChild(separatorSpan); 
			kdaText.appendChild(deathsSpan);
			kdaText.appendChild(separatorSpan.cloneNode(true)); 
			kdaText.appendChild(assistsSpan);

			var kdaTotalText = document.createElement('h2');
			var kdaTotal = (json.info.participants[jugador].kills + json.info.participants[jugador].assists) / json.info.participants[jugador].deaths;
			kdaTotal = kdaTotal.toFixed(2);
			kdaTotalText.textContent = kdaTotal + ' KDA';

			var csText = document.createElement('h2');
			csText.textContent = json.info.participants[jugador].totalMinionsKilled + ' CS (' 
			+ (json.info.participants[jugador].totalMinionsKilled / (json.info.gameDuration / 60)).toFixed(1) + ')';

			kdaDiv.appendChild(kdaText);
			kdaDiv.appendChild(kdaTotalText);
			kdaDiv.appendChild(csText);

			// /KDA

			partidaDiv.appendChild(kdaDiv);

			// ITEMS
			var itemsDiv = document.createElement('div');
			itemsDiv.classList.add('items');

			for (var i = 0; i < 6; i++) {
				if (json.info.participants[jugador][`item${i}`] != 0) {
					var itemImg = document.createElement('img');
					itemImg.src = "/img/items/" + json.info.participants[jugador][`item${i}`] + ".png";
					itemsDiv.appendChild(itemImg);
				}
				else {
					var itemsVacio = document.createElement('div');
					itemsVacio.classList.add('itemsVacio');
					itemsDiv.appendChild(itemsVacio);

					var tipoPartida = document.createElement('h1');
					tipoPartida.textContent = json.info.gameMode;
				}
			}

			partidaDiv.appendChild(itemsDiv);

			// /ITEMS

			// JUGADORES

			var jugadoresDiv = document.createElement('div');
			jugadoresDiv.classList.add('jugadores');

			for (var i = 0; i < 10; i++) {
				var jugadorDiv = document.createElement('div');
				jugadorDiv.classList.add('jugador');

				var jugadorImg = document.createElement('img');
				jugadorImg.src = "/img/campeones/" + json.info.participants[i].championName.toLowerCase() + ".png";
				if (i == jugador) {
					jugadorImg.style.border = '1px solid orange';
				}

				var jugadorNombre = document.createElement('h1');
				jugadorNombre.textContent = json.info.participants[i].summonerName;
				if (i == jugador) {
					jugadorNombre.style.fontWeight = 'bold';
					jugadorNombre.style.fontSize = '17px';
				}
				

				jugadorDiv.appendChild(jugadorImg);
				jugadorDiv.appendChild(jugadorNombre);

				jugadorDiv.name = jugadorNombre.textContent;
				jugadorDiv.addEventListener('click', function() {
					window.location.href = '/matchHistory?jugador=' + this.name;
				});

				jugadoresDiv.appendChild(jugadorDiv);
			}

			partidaDiv.appendChild(jugadoresDiv);

			// /JUGADORES
			
			partidasDiv.insertBefore(partidaDiv, masPartidas);

		}

		function fetchPartida(partidaID) {
			return go('https://europe.api.riotgames.com/lol/match/v5/matches/' + partidaID + '?api_key=' + apiKey , 'GET')
				.then(json => partida(json))
				.catch(e => console.log("ERR", e));
		}

		masPartidas.addEventListener('click', function() {
			fetchHistorial();
		});


	</script>
</body>
</html>