<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/misguias.css}">
	<link rel="stylesheet" th:href="@{/css/fragments/busqueda.css}">
    <title>Guías</title>
</head>
<body>
    <main>
        <!-- HEADER -->
		<div th:insert="./fragments/header"></div>
		<!-- HEADER -->

		<!-- SIDEBAR -->
		<div th:insert="./fragments/sidebar"></div>
		<!-- SIDEBAR -->

			<div class = "buscaGuia">

				<input id="campeonesNombreId" type="text" placeholder="Busca un campeon " name="nombre"/>

				<div class = "buscaPosicion">	

					<button id = "all" name = "todos">
						<img th:src="@{/img/posiciones/all.svg}">
					</button>
		
					<button id = "top" name = "top">
						<img th:src="@{/img/posiciones/top.svg}">
					</button>
		
					<button id = "jgl" name = "jungla">
						<img th:src="@{/img/posiciones/jgl.svg}">
					</button>
		
					<button id = "mid" name = "mid">
						<img th:src="@{/img/posiciones/mid.svg}">
					</button>
		
					<button id = "bot" name = "bot">
						<img th:src="@{/img/posiciones/bot.svg}">
					</button>
		
					<button id = "sup" name = "soporte">
						<img th:src="@{/img/posiciones/sup.svg}">
					</button>

				</div>

				<div class = "buscaEtiquetas">	

					<button id = "todos">
						TODOS
					</button>
		
					<button id = "campeon">
                        CAMPEON
                    </button>
        
                    <button id = "posicion">
                        POSICION
                    </button>

                    <button id = "general">
                        GENERAL
                    </button>
				</div>

			</div>
				
			<div class = "ordenGuia">
				<h1>ORDENAR:</h1>

				<button id = "puntuacion">
					PUNTUACION
				</button>

				<button id = "fecha">
					FECHA
				</button>
			</div>
					
		</form>	

		<div class = "guias"></div>

		<script type="text/javascript" src="js/iw.js"></script>
		<script type="text/javascript" src="js/stomp.js"></script>
        <script>

			var etiquetas = new Set();
            var posiciones = new Set();
			var ordenar = "00";

			function toggle(set, key) {
                if (set.has(key)) set.delete(key); else set.add(key);
            }

			// CAMPEON

			document.getElementById("campeonesNombreId").addEventListener("input", fetchGuias);

			// POSICIONES

			const posicionesID = ["top", "jgl", "mid", "bot", "sup"];

			var posicionesBoton = document.getElementById("all");
			posicionesBoton.classList.add('bordeAmarillo');

			posicionesBoton.addEventListener('click', function() {
				this.classList.add('bordeAmarillo');

				for (var i = 0; i < posicionesID.length; i++) { 
					posiciones.delete(posicionesID[i]);
					document.getElementById(posicionesID[i]).classList.remove('bordeAmarillo');
				}

				fetchGuias();
			});

			for (var i = 0; i < posicionesID.length; i++) {
				var posicionesBoton = document.getElementById(posicionesID[i]);
				posicionesBoton.addEventListener('click', function() {

					if (posiciones.has(this.id)) {
						posiciones.delete(this.id);
						if (posiciones.size == 0) document.getElementById("all").classList.add('bordeAmarillo');
					}
					else {
						posiciones.add(this.id);
						document.getElementById("all").classList.remove('bordeAmarillo');
					}

					this.classList.toggle('bordeAmarillo');

					fetchGuias();
				});
			}

			// ETIQUETAS

			const etiquetasID = ["campeon", "posicion", "general"];

			var etiquetasBoton = document.getElementById("todos");
			etiquetasBoton.classList.add('bordeAmarillo');

			etiquetasBoton.addEventListener('click', function() {
				this.classList.add('bordeAmarillo');

				for (var i = 0; i < etiquetasID.length; i++) { 
					etiquetas.delete(etiquetasID[i]);
					document.getElementById(etiquetasID[i]).classList.remove('bordeAmarillo');
				}

				fetchGuias();
			});

			for (var i = 0; i < etiquetasID.length; i++) {
				var etiquetasBoton = document.getElementById(etiquetasID[i]);
				etiquetasBoton.addEventListener('click', function() {

					if (etiquetas.has(this.id)) {
						etiquetas.delete(this.id);
						if (etiquetas.size == 0) document.getElementById("todos").classList.add('bordeAmarillo');
					}
					else {
						etiquetas.add(this.id);
						document.getElementById("todos").classList.remove('bordeAmarillo');
					}

					this.classList.toggle('bordeAmarillo');

					fetchGuias();
				});
			}

			// ORDENAR

			document.getElementById("puntuacion").addEventListener('click', function() {
				if (ordenar[0] === '0') {
					this.classList.add('bordeAmarillo');
					ordenar = '1' + ordenar[1];
				}
				else if (ordenar[0] === '1') {
					this.classList.remove('bordeAmarillo');
					this.classList.add('bordeRojo');
					ordenar = '2' + ordenar[1];
					
				}
				else if (ordenar[0] === '2') {
					this.classList.remove('bordeRojo');
					ordenar = '0' + ordenar[1];
				}

				fetchGuias();
			});

			document.getElementById("fecha").addEventListener('click', function() {
				if (ordenar[1] === '0') {
					this.classList.add('bordeAmarillo');
					ordenar =  ordenar[0] + '1';
				}
				else if (ordenar[1] === '1') {
					this.classList.remove('bordeAmarillo');
					this.classList.add('bordeRojo');
					ordenar = ordenar[0] + '2';
					
				}
				else if (ordenar[1] === '2') {
					this.classList.remove('bordeRojo');
					ordenar = ordenar[0] + '0';
				}

				fetchGuias();
			});

			// FETCH GUIAS

			function actualizaGuias(json) {

				const guiasDiv = document.querySelector('.guias');

				while (guiasDiv.firstChild) {
					guiasDiv.removeChild(guiasDiv.firstChild);
				}

				const campeonNombre = document.getElementById('campeonesNombreId');
				const campeonRegex = new RegExp(campeonNombre.value);
				
				for (var i = 0; i < json.length; i++) {
					
					var nombreBuscado = campeonRegex.test(json[i].campeon);
					var posicionBuscada;
					if (posiciones.size === 0) {
						posicionBuscada = true;
					}
					else {
						posicionBuscada = false;
						for (const posicion of posiciones) {
							const posicionRegex = new RegExp(posicion);
							if (posicionRegex.test(json[i].posiciones)) posicionBuscada = true;
						}
					}

					var etiquetasBuscadas;
					if (etiquetas.size === 0) {
						etiquetasBuscadas = true;
					}
					else {
						etiquetasBuscadas = false;
						for (const posicion of etiquetas) {
							const posicionRegex = new RegExp(posicion);
							if (posicionRegex.test(json[i].etiquetas)) etiquetasBuscadas = true;
						}
					}

					if (nombreBuscado && posicionBuscada && etiquetasBuscadas) {
						var link = document.createElement('a');
						link.href = "/guia/" + json[i].id;

						var guiaDiv = document.createElement('div');
						guiaDiv.classList.add('guia');

						var h2 = document.createElement('h2');
						h2.textContent = json[i].puntuacion;

						var img = document.createElement('img');
						img.src = "/img/campeones/" + json[i].campeon + ".png";

						var tituloGuiaDiv = document.createElement('div');
						tituloGuiaDiv.classList.add('tituloGuia');

						var h1 = document.createElement('h1');
						h1.textContent = json[i].titulo;

						var p = document.createElement('p');
						p.textContent = 'Escrita por ' + json[i].autor + ' ' + json[i].fecha;

						var buttonDelete = document.createElement('a');
						buttonDelete.textContent= 'Eliminar';
						buttonDelete.href = "/api/"+ json[i].id +"/deleteGuia"; 
						buttonDelete.className = "button-delete";

						tituloGuiaDiv.appendChild(h1);
						tituloGuiaDiv.appendChild(p);

						guiaDiv.appendChild(h2);
						guiaDiv.appendChild(img);
						guiaDiv.appendChild(tituloGuiaDiv);
						
						link.appendChild(guiaDiv);

						var guiaContainer = document.createElement('div');
						guiaContainer.classList.add('guia-container');

						guiaContainer.appendChild(link);
						guiaContainer.appendChild(buttonDelete);

						guiasDiv.appendChild(guiaContainer);
					}
				}
			}

			function fetchGuias() {
				go('/api/guiasU?ordenar=' + ordenar, 'GET')
					.then(json => actualizaGuias(json))
					.catch(e => console.log("ERR", e));
			}

			fetchGuias();

		</script>
		
    </main>
</body>
</html>
