<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>GG: Register</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <main>
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/registro}">
                <h2 class="form-signin-heading">Register</h2>
                <p>
                    <label for="username" class="visually-hidden">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required">
                </p>
                <p>
                    <label for="password" class="visually-hidden">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                </p>
                <p>
                    <label for="confirmPassword" class="visually-hidden">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="required">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                <p class="mt-3">Already have an account? <a href="/login">Sign in here</a></p> <!-- Añade un enlace para iniciar sesión -->
            </form>
        </div>
    </main>

    <!--<th:block th:replace="fragments/footer.html :: footer" />-->
</body>

</html>